/**
 * Flex Containers
 */
 

.container {
    
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}