/*
 * View Component
 */
 
.view {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;
  background: white;
  
  display: none;
  z-index: 1;
}

.view.view-visible {
  display: flex;
  flex-direction: column;
  z-index: 2;
}