/**
 * Auth styles
 */
 
#auth-view {
    display: flex;
    justify-content: center;
    align-items: center;
}


#auth-view > img {
    position: fixed;
    top: .5rem;
    left: .5rem;
    
    width: 10vh;
    height: 10vh;
}